/.idea/
/doc/
/lib/
/nbproject/
/tmp/
/images/familias/
/images/articulos/
/images/marcas/
/vendor/
!xml/imprimir/error_log
!error_log
.DS_Store
.htaccess
.vscode
config.php
*.lock
/documentos/
/notas/
